.error__toast {
  color: crimson;
  font-size: bold;
  padding: 10px 10px 10px 15px;
}

.error__message {
  color: crimson;
  font-size: bold;
}

.success__toast {
  color: rgb(57, 138, 2);
  font-size: bold;
  padding: 10px 10px 10px 15px;
}

.success__message {
  color: rgb(57, 138, 2);
  font-size: bold;
}
